/* Default styling */
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem;

}

nav{
    position: relative;
    top: 1rem;
    right: 3rem;
    width: 20rem;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    font-size: 1.5rem;
}

.showcase_img{
    width: 90vw;
    margin: 1rem;
}

article{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.container{
    padding: 1.5rem;
    text-align: center;
}

footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem;
}